/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');


:root {
    --color-1: #02b3e4;
    --color-2: #2d3c49;
    --color-3: #7d97ad;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/*utility classes*/
.fluid-img{
    width: 100%;
    height: auto;
}

/*page*/

.page {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
.header {
    border-bottom: var(--color-3) 3px solid;
    margin: 0 0 2rem 0;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 50% 50%;
    padding: 1.5rem 0;
}
.header-logo {
    align-self: center;
}
.header-logo-img {
    max-width: 100px;
}

.header-details {
    text-align: right;
    align-self: center;
    color: var(--color-2);
}
.header-details-title {
    text-transform: uppercase;
    font-weight: 300;
    margin: .5rem 0;
}
.header-details-subtitle {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    margin: .5rem 0;
}
/* Main */
.main {

}


.hero {
    margin: 2rem 0;
}

.featured {
    margin: 2rem 0;
}
.featured-title{
    color: var(--color-3);
    font-size: 2rem;
    font-weight: 400;
}
.featured-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.featured-list-item{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.featured-list-title {
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 400;
}
.featured-list-btn{
    border: 0;
    background-color: pink;
}

/* Footer */
.footer {
    border-top: var(--color-2) 2px solid;
    margin: 2rem 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}