/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');


:root {
    --color-1: #02b3e4;
    --color-2: #2d3c49;
    --color-3: #7d97ad;
    font-family: "Nunito", sans-serif;
}

body{
    background-color: #fff;
}

/* Header */
.header {
    border-bottom: var(--color-3) 2px solid;
    margin: 0 0 2rem 0;
}
.header-logo{
    background-color: red;
}
.header-details{
    background-color: pink;
}


/* Main */
.main {
    background-color: var(--color-2);
}

/* Footer */
.footer {
    background-color: var(--color-3);
}